@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --primary-dark: #5651e5;
  --primary-light: #709dff;
}

.icon {
  color: var(--primary-dark);
}

@layer base {
  body {
    @apply font-[Poppins];
  }

  li {
    @apply p-3;
  }
  h1 {
    @apply text-3xl md:text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-xl font-bold;
  }
  .mob-nav {
    @apply text-black absolute left-0 top-0 w-full bg-gray-100/80 px-4 py-7 flex flex-col duration-500 md:hidden;
  }
  button {
    @apply p-2 border bg-gradient-to-r from-[var(--primary-dark)] to-[var(--primary-light)] text-white rounded-md;
  }
  .icon {
    @apply text-2xl cursor-pointer;
  }
  .mob-nav li {
    @apply border-b border-b-gray-300;
  }
  .s-form label {
    @apply text-[#5651e5] font-bold pb-1;
  }
}
